* {
   margin: 0;
   padding: 0;

}

#wrapper {

   margin: auto;

}

body {

   font: sans-serif;
   width: 100%;
   background-color: rgb(233, 233, 233);
}

.top {

   background-color: rgb(4,27,58);
   width: 100%;
}

.in-top {
   width: 79%;
   justify-content: center;
   margin: auto;

}

.top-left {
   padding: 0;
   width: 50%;
   float: left;
   justify-content: space-between;
}

.top-right {
   width: 50%;
   justify-content: right;
   display: flex;
}

.top ul {
   position: relative;
   list-style: none;
}



.top ul li {
   text-align: center;
   display: inline-table;
   width: 100px;
   height: 35px;
   line-height: 35px;
   /*line-height = height*/
   position: relative;
   border-radius: 15px;
}

.top ul li a {
   text-align: center;
  
   text-decoration: none;
   display: block;
   border-radius: 15px;
   width: 50;
}




.top ul li a:hover {

   transition: 0.3s;
}

/*-------------------------------*/
.big-menu {
   width: 100%;
   background-color: #ffffff;
   position: relative;

}

.logo {
   width: 33%;
   margin-right: 20px;
}

.menu {
   padding: 5px 0;
   background-color: rgb(255, 255, 255);
   height: 50px;
   display: flex;
   margin: auto;
   justify-content: space-around;
   width: 78%;
}

.container-1 {

   position: relative;
   margin-top: 8px;
}

.box {
   width: 33%;
}

.container-1 input#search {
   width: 100%;
   height: 35px;
   background: #ffffff;
   font-size: 10pt;
   float: left;
   color: #63717f;
   padding-left: 45px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.menu-right a {
   text-decoration: none;
   color: #000;
}


.container-1 .icon {
   position: absolute;
   top: 50%;
   margin-left: 17px;
   margin-top: 10px;
   color: #4f5b66;
}

.icon:hover {
   cursor: pointer;
   color: rgb(15, 113, 113);
}

.menu-right {
   width: 33%;
   display: inline-flex;
   text-align: center;
   padding: 5px 0px;
}


.bell {
   padding: 0 20px;
}

/*wrapper*/
.menu-bar-content ul {
   display: flex;
}



.menu-bar-content>ul>li {

   list-style: none;
   width: 20%;
   height: 40px;
   line-height: 40px;
   text-align: center;
}

.menu-bar-content a {
   text-decoration: none;
   color: #000;
}

.menu-bar-content li:hover {
   background-color: rgb(114, 220, 136);
   transition: 0.3s;
}

.menu-bar-content {
   position: relative;
}

/*------------------*/
.sub-menu {
   position: absolute;
   background-color: bisque;
   width: 1176px;
   height: auto;
   left: 0;

   top: 100%;
   padding: 12px;
   display: none;

}

.in-sub-menu {
   display: flex;
   justify-content: space-between;
}

.sub-menu ul {
   display: flex;
   flex-direction: column;
}

.sub-menu ul li {

   list-style: none;
   text-align: left;
}

/*.menu-bar-content-icon{
   display: none;
}
.menu-bar-content ul li:hover .menu-bar-content-icon i{
   display: block;
}*/
/*---------------------------*/
.sub-menu li:first-child {

   font-weight: bold;
}

.sub-menu1 li:nth-last-child(1) {
   color: orange;
   font-weight: bold;
}

.in-sub-menu2 li:nth-child(6) {

   margin-top: 20px;
   font-weight: bold;
}

.sub-menu3 li:nth-child(6) {
   font-weight: bold;
   margin-top: 20px;
}

.sub-menu3 li:nth-child(11) {
   font-weight: bold;
}



/*-------------------------*/
.sub-menu ul li:hover {
   background: none;

}

.sub-menu ul li a:hover {
   color: rgb(94, 156, 210);
   text-decoration: underline;
}

.menu-bar-content ul li:hover .sub-menu {
   display: block;
}

.sub-menu-pic img {
   transition: all 0.4s ease;
}

.sub-menu-pic img:hover {
   transform: scale(1.01);

}

/*-------------------------*/
#backtop {
   width: 50px;
   height: 50px;
   background: tomato;
   color: #ffff;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   position: fixed;
   bottom: 40px;
   right: 40px;
}

#backtop:hover {
   background-color: #f1f1f1;
}

/*----------------------*/
.product {
   width: 100%;
   display: flex;
}

.product-left {
   background-color: rgb(255, 250, 250);
   width: 40%;
   height: fit-content;
}

.product-right {
   width: 60%;
}

.product-top {
   padding: 10px;
}

.product-top img {
   width: 100%;
}

.product p img {
   width: 15%;
   border: 2px solid white;
   display: inline;
}

.product p img:nth-child(1) {
   width: 14%;
}

.product p img:hover {
   border: 2px solid rgb(255, 1, 1);
}

.product-right {

   background-color: rgb(255, 255, 255);
}

.product-right li {
   list-style: none;
   margin-top: 15px;
   margin-left: 5px;
}

.product-right a {
   text-decoration: none;
}
.product-right-top{
   margin-left: 10px;
}
.product-right-top li:nth-child(1) {
   margin-bottom: 10px;
}

.product-right li:nth-child(4) {
   margin-bottom: 10px;
}

.product-right-top h2 {
   padding: 10px 0;
}

.product-right-top li a:nth-child(1) {
   color: rgb(255, 98, 0);
   text-decoration: underline;
}

.product-right-top li a:hover {
   color: rgb(209, 148, 110);
}

.product-right-top li:nth-child(2) {
   font-size: larger;
   font-weight: bold;
   color: rgb(255, 98, 0);
}

.product-right-top li:nth-child(4) {
   font-size: small;
   color: #4f5b66;
}

.product-right-top li:nth-child(3) {
   font-size: small;
   color: #4f5b66;
}

.product-right-top li:nth-child(5) {
   color: rgb(255, 18, 18);
   font-weight: bold;
}

.product-shopping button {
   margin-top: 10px;
   background-color: rgb(209, 101, 101); /* Set the default background color */
   color: #000; /* Set the default text color */
   padding: 10px 15px; /* Adjust padding as needed */
   border: none;
   cursor: pointer;
}

.product-shopping button:hover {
   background-color: rgb(233, 143, 143); /* Change background color on hover to brown */
}

.product-shopping a {
   color: #000;
}



.product-right-down {
   margin-top: 30px;
}

.product-right-down li:nth-child(1) {
   font-weight: bolder;
}


/*------------------------------*/
.middle1 {
   background-color: #ffffff;
   font-size: large;
}

.middle1-top h2 {
   margin: 10px;
   position: relative;
   top: 10px;
}

.middle1-bottom {
   width: 100%;
   display: flex;
}

.middle1-left {
   width: 65%;
   margin-top: 10px;
   margin-left: 10px;
}

.middle1-right {
   width: 35%;
   margin-top: 10px;
}

.middle1-bottom li {
   list-style: none;
   margin-top: 10px;
   border-bottom: 1px solid black;
   height: 30px;
}

.middle1-bottom li:nth-child(5) {
   border: none;

}

/*-----------------------*/
.middle2 {
   background-color: white;
   margin-top: 10px;
   margin-bottom: 10px;
}

.middle2 h2 {
   position: relative;
   top: 10px;
   margin-left: 10px;
   margin-bottom: 20px;

}

.middle2 p {
   padding: 10px;
   font-size: large;
}

/*---------------------------*/

.slider5 {
   padding: 10px 0;
}

.slider5 h2 {
   padding: 10px;
}

.slider5 li {
   list-style: none;
}

.slider-product-one-content {
   background-color: rgb(255, 255, 255);
   padding: 12px 0;
}

.slider-product-one-content-items {
   display: flex;
   justify-content: space-evenly;
   /*khoang cach deu*/
}

.slider-product-one-content-item a:hover>img {
   transform: translateY(-20px);
}

.slider-product-one-content-item {
   width: 19%;
   background-color: aliceblue;
   padding: 50px 12px;
   border-radius: 5px;
}

.slider-product-one-content-item a>img {
   width: 100%;
   transition: all 0.5s ease;
}

.slider-product-one-content-item li a {
   text-decoration: none;

}

.slider-product-one-content-item-text li:nth-child(4) {
   font-size: 80%;
   color: rgb(138, 138, 138)
}

.slider-product-one-content-item-text li:nth-child(5) {
   color: rgb(255, 126, 41)
}


.slider-text1 li a {
   width: 50px;
   color: black;
}

.slider-text2 li a {
   color: rgb(9, 141, 9);
}

.slider-text1 li a:hover {
   text-decoration: underline;
   color: rgb(56, 59, 240);
}

.slider-text2 li a:hover {
   text-decoration: underline;
}

.slider-product-one-content-item-text li {
   margin-bottom: 6px;
}

.slider-product-one-content-item-text img {
   width: 30px;
}

.slider-product-one-content-item-picture li {
   height: 30px;
   width: 80%;
   background-color: rgb(248, 255, 32);
   display: inline-block;
   align-items: center;
   border-radius: 40px;
   line-height: 30px;
}

.slider-product-one-content-item-picture {
   font-size: 12px;
}

.slider-product-one-content-item-picture img {
   width: 30px;
   float: left;
   margin-right: 6px;
}

