.box{
    width: 50%;

}
.sort {
    position: absolute;
    position: relative;
}
.select-container-wrapper {
    display: flex;
    z-index: 2; /* Ensure the wrapper is above the overlay */
    transition: background-color 0.5s; /* Add a transition for a smooth effect */
}

.select-container-wrapper.active {
    background-color: rgba(255, 255, 255, 0.8); /* Light background color when active */
}
.animated-select-container {
    flex: 1;
    margin-right: 10px;
    margin-top: 10px;
}

.header__search-select,
#priceFilter,
#sortOption {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.slider-product-one-content-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.slider-product-one-content-item {
    width: 24%;
    margin-bottom: 20px;
    background-color: white;
    padding: 30px 17px;
    border-radius: 2px;
    border: 1px solid rgb(206, 206, 206);
    box-sizing: border-box;
}

.main-container {
    margin-left: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* Adjust the button styles */
.sort button {
    
    background-color: rgb(249, 230, 230);
    line-height: 29px;
    height: 29px;
    margin-top: 10px;
    width: 100px; /* Adjust the width as needed */
    padding: 3px; /* Adjust the padding as needed */
    box-sizing: border-box;
    height: auto; /* Allow the button to adjust its height based on content */
}

